<div class="container">
    <form asp-action="Login" asp-controller="User" method="post">
        <div class="row">
            <div class="col-lg-6">Identification</div>
            <div class="col-lg-6">Inscription</div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <input type="text" name="username" placeholder="Votre identifiant" class=" form-control" />
            </div>
            <div class="col-lg-6"> <input type="text" name="usernameInscription" placeholder="Tapez le UserName" class=" form-control" /></div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <input type="password" name="password" placeholder="Votre mot de passe" class=" form-control" />
            </div>
     <div class="col-lg-6">
                <input type="password" name="passwordInscription_1" placeholder="Tapez votre password" class=" form-control" />
                <input type="password" name="passwordInscription_2" placeholder="Tapez votre password" class=" form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <button type="submit" class="form-control btn btn-danger">Se connecter</button>
            </div>
           <div class="col-lg-3">
                <a asp-action="SaveInLocal"  class="form-control btn btn-danger">Enregistrer localement</a>
            </div>
         <div class="col-lg-3">
                <input type="submit" class="form-control btn btn-danger">Sauvegarde</in>
            </div>
        </div>
    </form>

</div>

