<div class="container">
    <form id="monForm" asp-action="AddUser" asp-controller="Home" method="POST">
        <div class="row">
            <input class="champ" type="text" name="Nom" placeholder="Votre Nom" />
        </div>
        <div class="row">
            <input class="champ" type="text" name="Prenom" placeholder="Votre Prénom" />
        </div>
        <div class="row">
            <button type="submit">Envoyer</button>
        </div>
    </form>
</div>