<div>
  <form [formGroup]="addContactForm" (ngSubmit)="Valider()">
    <div class="row">
      <input type="text" class="form-control" formControlName="nom" placeholder="Votre nom" />
    </div>

    <div class="row">
      <input type="text" class="form-control" formControlName="prenom" placeholder="Votre prénom" />
    </div>

    <div class="row">
      <input type="text" class="form-control" formControlName="tel" placeholder="Votre tél" />
    </div>

    <div class="row">
      <button type="submit" class="form-control btn btn-danger">
      <span *ngIf="addFromType == true">Ajouter</span>
      <span *ngIf="addFromType == false">Modifier</span>
      </button>
    </div>
  </form>
</div>
