@model Produit
@{
    ViewData["Title"] = "AddProduit";
}
<div>

<h1>Ajouter un produit</h1>
<form enctype="multipart/form-data" asp-route-id="" asp-action="AddProduit" asp-controller="Produit" method="post">
    @if (Model != null)
    {
        <input type="hidden" asp-for="Id" />

    }
    <div class="row">
        <div class="col-2">
            <label asp-for="Titre"></label>
        </div>
        <div class="col-2">
            <input asp-for="Titre"  class="form-control" />
        </div>
        <div class="col-2">
            <span asp-validation-for="Titre"></span>
        </div>
    </div>
       
    <div class="row">
        <div class="col-3">
            <label asp-for="Prix"></label>
        </div>
        <div class="col-6">
            <input asp-for="Prix" class="form-control" />
        </div>
        <div class="col-3">
            <span asp-validation-for="Prix"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <label>Image</label>
        </div>
        <div class="col-6">
            <input type="file" name="image" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="form-control btn  btn-danger" type="submit">
                @(Model != null ? "Modifier" : "Ajouter")
                 

            </button>
        </div>
    </div>
</form>
</div>
